In [2]:
import sqlite3

In [6]:
#!/usr/bin/python
import sqlite3

def select_DB(table_name):
    conn = sqlite3.connect('olearn.db')

    
    if table_name == 'Employers_Users' :
        for row in conn.execute("SELECT * from Employers_Users"):
            print(row)
            
    elif table_name == 'Course' :
        for row in conn.execute("SELECT * from Course"):
            print(row)
            
    elif table_name == 'Review' :
        for row in conn.execute("SELECT * from Review"):
            print(row)
            
    elif table_name == 'certification_ID' :
        for row in conn.execute("SELECT * from certification_ID"):
            print(row)
            
    elif table_name == 'Ongoing_Training' :
        for row in conn.execute("SELECT * from Ongoing_Training"):
            print(row)
    else:
        print("Error 202!")   

    conn.commit()
    conn.close()


def main():
    db = 'olearn.db'
    table_val = input('Choose the table number you want to insert data:\n 1- User-Employers \n 2- Course \n 3- Review \n 4- Certification ID \n 5- Ongoing Training \n') 
    if table_val == '1':
        table_name = 'Employers_Users' 
    elif table_val == '2':
        table_name = 'Course'
    elif table_val == '3':
        table_name = 'Review'
    elif table_val == '4':
        table_name = 'certification_ID'
    elif table_val == '5':
        table_name = 'Ongoing_Training'
    else:
        print('No such table in databse')
    select_DB(table_name)
        


if __name__=="__main__":
    main()

Choose the table number you want to insert data:
 1- User-Employers
 2- Course
 3- Review
 4- Certification ID
 5- Ongoing Training
1
(13549, '638-55-4922', '2022-08-01', 'kendra00', '#m*4(Q6nve', 'Intermediate')
(13550, '369-30-9419', '2022-08-01', 'daviskimberly', 'de7BGRUk+2', 'Intermediate')
(13551, '480-66-2144', '2022-08-01', 'clarktammy', 'daNKl)S3#6', 'Intermediate')
(13552, '421-22-6425', '2022-08-01', 'sotojacob', '#r67S6wDl6', 'Intermediate')
(13553, '317-01-2056', '2022-08-01', 'vazquezcraig', 'e66pF+pG*M', 'Professional')
(13554, '716-91-2562', '2022-08-01', 'ericawatts', '6Lc!59Wu%+', 'Professional')
(13555, '792-63-2455', '2022-08-01', 'abrown', '$f5OWbW471', 'Beginner')
(13556, '125-05-4336', '2022-08-01', 'ehill', 'n5OZt2Ly&&', 'Beginner')
(13557, '713-81-7806', '2022-08-01', 'valerie79', '+pbSH8HrX7', 'Beginner')
(13558, '685-37-0530', '2022-08-01', 'sbutler', '9%+2flXs)&', 'Beginner')
(13559, '197-77-8911', '2022-08-01', 'wilsontoni', '4Z6ZhrXa@8', 'Intermediate')
(13560, '588-99-6940', '2022-08-01', 'nathan54', 'S6N)FqMr(S', 'Intermediate')
(13561, '516-10-7847', '2022-08-01', 'danalambert', 'h0^7zE8a)l', 'Beginner')
(13562, '747-46-5604', '2022-08-01', 'anne91', '@6Zfh91W*Y', 'Professional')
(13563, '604-74-3852', '2022-08-01', 'ashleyshannon', '58AcLIUr$I', 'Beginner')
(13564, '033-72-3382', '2022-08-01', 'thompsonmary', 'w8l)1oCq!E', 'Professional')
(13565, '808-67-4249', '2022-08-01', 'gregory73', 'yFUiV7Ul$3', 'Beginner')
(13566, '389-41-6840', '2022-08-01', 'coxjason', '!1Timk7+eH', 'Professional')
(13567, '768-89-3491', '2022-08-01', 'sarah37', '#8Rse@&bBH', 'Beginner')
(13568, '016-38-0805', '2022-08-01', 'lisabullock', '@U2CngJNf4', 'Beginner')
(13569, '351-75-0114', '2022-08-01', 'nicole13', 'c$iR^nKa*4', 'Intermediate')
(13570, '544-51-8595', '2022-08-01', 'wesleyhernandez', 'EX27DBt(@z', 'Intermediate')
(13571, '537-98-4215', '2022-08-01', 'garrettchristina', '()*062Frs6', 'Professional')
(13572, '031-01-1690', '2022-08-01', 'josephfreeman', 'lF@L3SutlZ', 'Beginner')
(13573, '043-08-0061', '2022-08-01', 'nicole97', '8f%qcKge@@', 'Professional')
(13574, '063-49-9543', '2022-08-01', 'osanchez', '#1DbLHoHO2', 'Intermediate')
(13575, '146-84-5691', '2022-08-01', 'angelagonzales', 'fRt_7QAwaI', 'Beginner')
(13576, '596-65-9244', '2022-08-01', 'chrislowery', '_5eHKiMV^D', 'Professional')
(13577, '028-70-3135', '2022-08-01', 'salexander', 'za*8Ip+0T#', 'Intermediate')
(13578, '223-28-0063', '2022-08-01', 'kathryn80', '&e8DgauXq8', 'Professional')
(13579, '088-42-6961', '2022-08-01', 'qchambers', '(2T40rup8^', 'Intermediate')
(13580, '142-61-3422', '2022-08-01', 'bjordan', '!pi20Aa7^!', 'Intermediate')
(13581, '351-86-2236', '2022-08-01', 'morriskevin', '^6L(_!rB6b', 'Professional')
(13582, '576-43-7166', '2022-08-01', 'austin43', '%D7CtQpQs1', 'Intermediate')
(13583, '734-92-5340', '2022-08-01', 'jpowell', '$74WYg8Sz+', 'Intermediate')
(13584, '784-63-0906', '2022-08-01', 'johnking', '(3ZFG7cF_g', 'Intermediate')
(13585, '883-87-0146', '2022-08-01', 'qparsons', '$42Xxdac5(', 'Beginner')
(13586, '523-01-1827', '2022-08-01', 'davidgutierrez', ')&2i6V4k2M', 'Beginner')
(13587, '874-63-3598', '2022-08-01', 'simsryan', '#PIcuGGk4I', 'Intermediate')
(13588, '235-97-7467', '2022-08-01', 'joanna01', 'm^92V8t5Rx', 'Intermediate')
(13589, '426-39-1127', '2022-08-01', 'umontgomery', 'N&07VeB^7%', 'Intermediate')
(13590, '245-83-7669', '2022-08-01', 'jonesmary', 'g2NRwzQI#R', 'Intermediate')
(13591, '078-58-1564', '2022-08-01', 'nallen', '6Q*U3G_c)l', 'Intermediate')
(13592, '303-65-6295', '2022-08-01', 'cnelson', '+SNPihn7T3', 'Intermediate')
(13593, '443-92-6898', '2022-08-01', 'mitchell12', '!S)8+Szk_E', 'Intermediate')
(13594, '750-51-1710', '2022-08-01', 'kfernandez', 'n8u^IRU!^x', 'Beginner')
(13595, '011-39-1444', '2022-08-01', 'pramirez', '+3U4fEU&fi', 'Intermediate')
(13596, '042-98-0589', '2022-08-01', 'jennifer31', '%1Dv#7hMVL', 'Professional')
(13597, '401-46-4730', '2022-08-01', 'lowerytiffany', 'by#1QQfezp', 'Beginner')
(13598, '739-22-0389', '2022-08-01', 'coleheather', 'Z2+5KM@lRz', 'Beginner')
(13599, '576-02-8346', '2022-08-01', 'zcollins', 't54RM$s!%@', 'Beginner')
(13600, '864-19-0814', '2022-08-01', 'yle', 'm!9tXe&mwp', 'Professional')
(13601, '031-20-5894', '2022-08-01', 'mendezalicia', '3BPP3k2N)f', 'Beginner')
(13602, '719-81-9372', '2022-08-01', 'justinwilliamson', '*3Q^1U_i7B', 'Beginner')
(13603, '147-86-3779', '2022-08-01', 'justinpetersen', '_dV@xxIFZ6', 'Intermediate')
(13604, '885-30-2495', '2022-08-01', 'watsonpamela', 'ho8eVCM0S!', 'Beginner')
(13605, '309-72-0712', '2022-08-01', 'richkrystal', '@2zzwzN!Hs', 'Beginner')
(13606, '638-79-5394', '2022-08-01', 'reynoldsjane', 'K8&3QSjdCt', 'Professional')
(13607, '407-77-0948', '2022-08-01', 'timothy70', '@tX$at(u9X', 'Intermediate')
(13608, '073-40-9361', '2022-08-01', 'jacobmullen', 'Z0*4WZ+uyz', 'Intermediate')
(13609, '008-91-9810', '2022-08-04', 'lawrence21', '+_0c5pPjP7', 'Beginner')
(13610, '659-76-0543', '2022-08-04', 'kennethcobb', 'N&6DK#wIda', 'Professional')
(13611, '518-73-5986', '2022-08-04', 'angela91', '$9VfJlW#Ly', 'Beginner')
(13612, '461-07-3144', '2022-08-04', 'taylorgoodwin', 'l^4nRdmrg9', 'Professional')
(13613, '747-22-8350', '2022-08-04', 'johnsonnancy', '46E$qC1i!E', 'Beginner')
(13614, '159-18-0943', '2022-08-04', 'steven71', 'k^5tInkl5F', 'Beginner')
(13615, '086-41-8176', '2022-08-04', 'fthomas', '&0cJTYf1P!', 'Beginner')
(13616, '856-43-3265', '2022-08-04', 'dcarter', '4P7mwPweU@', 'Intermediate')
(13617, '592-19-3457', '2022-08-04', 'esanchez', 'klAL2$Uh7@', 'Beginner')
(13618, '057-89-4145', '2022-08-04', 'david76', '4)h1ZPobCg', 'Intermediate')
(13619, '801-14-5827', '2022-08-04', 'murphysara', '(dD2E^w64y', 'Intermediate')
(13620, '502-87-2113', '2022-08-04', 'pwilson', 'n4h4ZsVy((', 'Professional')
(13621, '383-82-3087', '2022-08-04', 'owalker', '^eJ&PD6Zq8', 'Beginner')
(13622, '570-86-8023', '2022-08-04', 'pberg', '!Gz9VlOc)&', 'Beginner')
(13623, '609-79-9041', '2022-08-04', 'watsonantonio', '^kOqjdXi30', 'Professional')
(13624, '733-80-8969', '2022-08-04', 'nwalsh', 'S0XOzsnL!9', 'Beginner')
(13625, '077-21-6459', '2022-08-04', 'srobbins', 'EF0CmYBej%', 'Beginner')
(13626, '259-93-5946', '2022-08-04', 'ksilva', '!Z5EbRRefO', 'Professional')
(13627, '632-93-0714', '2022-08-04', 'billhill', '0sQ%JmJ%(s', 'Intermediate')
(13628, '485-16-6588', '2022-08-04', 'michelle38', '!4+@PFu#uw', 'Beginner')
(13629, '645-05-9995', '2022-08-04', 'helen48', 'Y0#8G_n2M(', 'Beginner')
(13630, '894-67-4921', '2022-08-04', 'janejackson', 'r80ZhLfE*)', 'Beginner')
(13631, '164-99-7216', '2022-08-04', 'greengregory', '$u^INxTh86', 'Professional')
(13632, '046-54-2376', '2022-08-04', 'johnhenry', 'nU346iOi^a', 'Intermediate')
(13633, '522-15-9549', '2022-08-04', 'david28', 'f+5SmxOcCO', 'Intermediate')
(13634, '7', '2022-08-04 14:08:50', 'ne65d4w', 'pd6a654ss', 'xC')
(13635, '70', '2022-08-04 14:18:02', 'n65d4w', 'pd6a654ss', 'xC')
(13636, '71', '2022-08-04 14:51:44', 'Zee1', 'pd6a654ss', 'xC')
(13637, 's', '2022-08-04 15:33:00', 'sss', 'pd6a654ss', 'TST')
(13638, '"+ Uname  +"', '2022-08-04 15:52:04', 'Zezex1', 'pd6a654ss', 'TST')
(13639, '71222', '2022-08-04', 'Zezzze1', 'pd6a654ss', 'xC')
(13640, '1-test', '2022-08-04', 'test1', 'pd6a654ss', 'TEST')